.delete-item-container {
    padding: 24px;
    background: #00483e;
    color: #fff;

    h2 {
        text-align: center;
    }

    .button-area {
        display: flex;
        align-items: center;
        justify-content: space-around;


        button {
            padding: 8px 16px;
            color: #fff;


            &.red {
                background: #fd3628;
            }

            &.green {
                background: #75c930;
            }
        }
    }

}