<div class="menu">
  <button [class.active]="activeTabIndex == 0" (click)="updateCurrentTabTarget(0)">Collective</button>
  <button [class.active]="activeTabIndex == 1" (click)="updateCurrentTabTarget(1)">Banoi</button>
  <button [class.active]="activeTabIndex == 2" (click)="updateCurrentTabTarget(2)">Thu</button>
  <button [class.active]="activeTabIndex == 3" (click)="updateCurrentTabTarget(3)">Hang</button>
</div>
<!-- Terminal -->
<div class="terminal">
  <form [formGroup]="albumForm" (submit)="sendNewImage()">
    <div class="form">
      <label for="title">Photo title (optional):</label>
      <input formControlName="title" type="text" name="title" id="title" placeholder="Enter image description">

      <label for="link">Link (required):</label>
      <input formControlName="link" type="text" name="link" id="link" placeholder="Image link">

      <button type="submit" class="add" *ngIf="albumForm.valid">Add new photo</button>
    </div>
  </form>
</div>

<app-toggle-switch (isOn)="showDetails($event)"></app-toggle-switch>

<ng-container *ngIf="isPhotosShown">

  <ng-container *ngFor="let item of $albumData | async as albumData, last as last">
    <app-existed-photo-card (updateComplete)="updateComplete($event)" [currentAlbum]="tabList[activeTabIndex]" [isLastItem]="last" [photoItemData]="item"></app-existed-photo-card>
  </ng-container>

  <ng-container *ngIf="!($albumData | async)">
    <p class="no-photo">No photo available!</p>
  </ng-container>

</ng-container>


